<div class="row">

    <div class="col-md-8" ng-if="dc.document.contents">
        <h3>{{ dc.document.title }}</h3>
        <pre>
            {{ dc.document.contents }}
        </pre>
    </div>

    <div class="col-md-4" ng-if="dc.document">

        <h4>Translate</h4>
        <div class="btn-group" role="group" aria-label="...">
            <a href="#/view?id={{ dc.$routeParams.id }}&l=human" class="btn btn-default" ng-class="{'active': dc.$routeParams.l == 'human'}">
                <i class="fa fa-male"></i> Human
            </a>
            <a href="#/view?id={{ dc.$routeParams.id }}&l=zombie" class="btn btn-default" ng-class="{'active': dc.$routeParams.l == 'zombie'}">
                <i class="fa fa-users"></i> Zombie
            </a>
        </div>

        <h4>Return</h4>
        <a href="#/files" class="btn btn-default">
            <i class="fa fa-arrow-left"></i>
            File List
        </a>

    </div>

</div>