<div class="row">
    <div class="col-md-6" ng-show="lc.files.length > 0">
        <h4>Files:</h4>

        <div class="list-group">
            <a href="#/view?id={{ file.id }}&l=human" ng-repeat="file in lc.files" class="list-group-item" title="{{ file.mimeType }}">
                <i class="fa fa-table" ng-if="file.mimeType == 'application/vnd.google-apps.spreadsheet'"></i>
                <i class="fa fa-file" ng-if="file.mimeType == 'application/vnd.google-apps.document'"></i>
                <i class="fa fa-folder-open-o" ng-if="file.mimeType == 'application/vnd.google-apps.folder'"></i>
                <i class="fa fa-file-pdf-o" ng-if="file.mimeType == 'application/pdf'"></i>
                <i class="fa fa-picture-o" ng-if="file.mimeType == 'image/jpeg'"></i>
                {{ file.title }}
            </a>
        </div>
    </div>
</div>